.background-cuadrado{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100vw;
    height: 100vw;
    background-color: gray;
    min-height: 100vh;
    }
    
    .cuadrado1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 100vw;
    height: 100vw;
    background-color: lightgray;
    opacity: 0.9;
   
    border: 1px solid lightgray;
    }
    
    
   .imagenfondo2{
height: 100vw;
width: 100vw;



   }
    .cuadrado2{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 1200px;
    height: 200px;
    background-color: lightgray;
    opacity: 0.9;
   
    border: 1px solid lightgray;
background: none;
      border: none;
      box-shadow: none;

    }
    
    
 
    
    
    
    
.conectar{
    font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: lightgray;
   font-weight: bold;
      font-size: 50px;
      color: black;
     background: none;
      border: none;
      box-shadow: none;
      margin-top: -100px;
      text-align: center;
}    
   

    .cuadrado3{
position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 1;
background: none;
box-shadow: none;
border: none;
margin-top: -400px;
margin-left: -900px;
    }

    .imagenlogo{
margin-top: -200px;

width: 50px;
height: 50px;
    }
   
    
.terrasense{
font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        background-color: lightgray;
      font-size: 13px;
      color: black;
     background: none;
      border: none;
      box-shadow: none;
      white-space: nowrap;
      margin-left: 45px;
      margin-top: -38px;
      


}
    
    
   
    

  
   
     
    
   