.background-cuadrado{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width:100vw ;
    height: 100vw;
    background-color: gray;
    z-index: -1;

}

.cuadrado1{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,  -50%);
width: 535px;
height: 720px;
background-color: white;
z-index: -1;
margin-left: -415px;



}

.cuadrado2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    width: 279px;
    height: 25px;
    background-color: black;
    z-index: -1;
    margin-left: -450px;
    margin-top: -260px;
    
    }

    .cuadrado3{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,  -50%);
        width: 279px;
        height: 117px;
        background-color: lightgray;
        z-index: -1;
        margin-left: -450px;
        margin-top: -150px;
        
        }
    
        .cuadrado4{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,  -50%);
            width: 279px;
            height: 117px;
            background-color: lightgray;
            z-index: -1;
            margin-left: -450px;
            margin-top: 10px;
            
            }
        